* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Tahoma;
  background: black;
}

h1 {
  margin: 0;
  color: white;
  margin-left: 2.5em;
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
}

h2 {
  color: white;
  margin-left: 1.5em;
  margin-top: 4em;
  padding-top: 4em;
  font-size: 1.5em;
}

/* Link Styles */

a {
  text-decoration: none;
  color: black;
  display: block;
}

a:hover {
  color: white;
  transition: all .5s;
}

/* Section Styles */
ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 5px 0;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  background-image: linear-gradient(to right bottom, khaki, black);
}

.debug {
  border: 1px solid black;
}

.wrapper {
  min-height: calc(100vh - 80px);
}

.main-nav {
  position: fixed;
  z-index: 1;
  display: block;
  width: 100%;
  top: 0;
  text-align: center;
  background-color: black;
}

.nav {
  margin-top: 0;
  margin-bottom: 0;
}

.intro {
  padding: 10px 0;
  margin-bottom: 1em;
  color: white;
}

.picture {
  margin-top: 200px;
  width: 100%;
  height: 400px;
  background-image: url("img/picture1.jpg");
  background-color: black;
  background-size: cover;
  transition: all 2s;
}

.picture:hover {
    opacity: 0.5;
}

.picture2 {
  width: 100%;
  height: 400px;
  background-image: url("img/picture2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .5s;
}

.paragraph1 {
  color: white;
  font-size: 0.9em;
  text-align: justify;
  margin-left:  2.5em;
  margin-right: 2.5em;
}

.picture3 {
    width: 100%;
    height: 400px;
    background-image: url("img/picture3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s;
}

.paragraph2 {
    color: white;
    font-size: 0.9em;
    text-align: justify;
    margin-top: 0;
    padding-top: 2.5em;
    margin-left: 8em;
    margin-right: 2.5em;
}

.paragraph3 {
  color: white;
  font-size: 0.9em;
  text-align: justify;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2.5em;
  max-width: 70%
}

.skill {
  list-style-type: none;
  font-weight: bold;
  background-image: linear-gradient(to right bottom, khaki, black);
  border-radius: 10px;
  margin-left: 2em;
  padding: 5px;
  max-width: 25%;
  text-align: center;
}

.picture4 {
  width: 100%;
  height: 300px;
  background-image: url("img/picture4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s;
}

.paragraph4 {
  color: white;
  font-size: 0.9em;
  text-align: center;
  margin-top: 0;
  padding-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

.git {
  display: inline-block;
}

.social {
  background-image: url("img/github.svg");
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  }

.last {
  background: black;
  border-right: none;
}

.background {
  width: 100%;
  height: 300px;
  background-image: url("img/picture5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .5s;
}

.info {
  color: gray;
  font-size: 1.5em;
  text-align: center;
  padding-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
}

footer {
  max-height: 150px;
  width: 100%;
  color: white;
  font-size: 0.9em;
  text-align: center;
  background-color: black;
}


/* Styles for larger screens */

@media (min-width: 720px) {

  body {
  line-height: 1.5;
  }

  .nav {
    display: block;
    margin: 1em;
    text-align: center;
    padding: 10px 0;
    margin: auto;
  }

  li {
    display: inline-block;
    margin: 5px;
    min-width: 100px;
    background: black;
    border-right: solid white 1px;
    padding-right: 10px;
  }
  a {
    color: gray;
    font-weight: normal;
  }

  .picture {
    margin-top: 130px;
    width: 100%;
    height: 520px;
    background-image: url("img/picture1big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

   .picture2 {
      width: 100%;
      height: 600px;
      background-image: url("img/picture2big.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
    }

    h1 {
      color: white;
      margin-left: 2.5em;
      padding-top: 3em;
      margin-bottom: 0;
      font-size: 2em;
    }

    .paragraph1 {
      color: white;
      font-size: 1em;
      text-align: justify;
      margin-left: 4.5em;
      margin-right: 2.5em;
      margin-bottom: 3em;
    }

    .picture3 {
        width: 100%;
        height: 600px;
        background-image: url("img/picture3big.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
      }

    .paragraph2 {
        color: white;
        font-size: 1em;
        text-align: justify;
        padding-top: 4em;
        margin-left: 55%;
        margin-right: 2.5em;
    }

    .paragraph3 {
      color: white;
      font-size: 1em;
      text-align: justify;
      margin-top: 10em;
      margin-left: 2.5em;
      margin-right: 2.5em;
      margin-bottom: 10px;
      max-width: 48%;
    }

    .skill {
      list-style-type: none;
      display: inline-block;
      font-weight: bold;
      border-radius: 0;
      margin-top: 5px;
      margin-left: 3em;
      margin-right: 1em;
      padding: 5px;
      min-width: 30%;
      text-align: center;
    }

    .list {
      max-width: 55%;
      margin-top: 10px;
      margin-left: 1em;
    }

    .picture4 {
      width: 100%;
      height: 300px;
      background-image: url("img/picture4big.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    .paragraph4 {
      color: white;
      font-size: 1em;
      text-align: center;
      padding-top: 5em;
      margin-left: 3em;
      margin-right: 3em;
    }

    .background {
      background-image: url("img/picture5big.jpg");
    }
}

@media (min-width: 1024px) {

  .intro {
    float: left;
    display: inline-block;
    margin-left: 5%;
  }
  .nav {
    float: right;
    display: block;
    padding: 0;
    margin-right: 5%;
    margin-top: 1em;
  }
  li {
    display: inline-block;
    margin: 5px;
    min-width: 100px;
  }
  .picture {
    margin-top: 70px;
    width: 100%;
    height: 590px;
    background-image: url("img/picture1big.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .picture2 {
     width: 100%;
     height: 750px;
     background-image: url("img/picture2big.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
   }

   h1 {
     color: white;
     margin-left: 2.5em;
     padding-top: 2em;
     margin-bottom: 1em;
     font-size: 3em;
   }

   .paragraph1 {
     color: white;
     font-size: 1em;
     text-align: justify;
     margin-left: 7.5em;
     margin-right: 2.5em;
     margin-bottom: 3em;
     max-width: 35%;
   }

   .picture3 {
       width: 100%;
       height: 750px;
       background-image: url("img/picture3big.jpg");
       background-repeat: no-repeat;
       background-size: cover;
     }

   .paragraph2 {
       color: white;
       font-size: 1em;
       text-align: justify;
       margin-top: 0;
       margin-left: 55%;
       margin-right: 2.5em;
   }

   .paragraph3 {
     color: white;
     font-size: 1em;
     text-align: justify;
     margin-top: 18em;
     margin-left: 4em;
     margin-bottom: 4em;
     max-width: 42%;
   }

   .skill {
     list-style-type: none;
     display: inline-block;
     font-weight: bold;
     border-radius: 0;
     margin-top: 5px;
     margin-left: 1px;
     margin-right: 1px;
     padding: 5px 15px;
     min-width: 110px;
     text-align: center;
   }

   .list {
     max-width: 480px;
     margin-top: 12px;
     margin-left: 7em;
   }

   .paragraph4 {
     color: white;
     font-size: 1em;
     text-align: center;
     margin-top: 0;
     padding-top: 100px;
     margin-left: auto;
     margin-right: auto;
     max-width: 60%;
   }

   .picture4 {
     width: 100%;
     height: 400px;
     background-image: url("img/picture4big.jpg");
     background-repeat: no-repeat;
     background-size: cover;
   }
}
*/
-->
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
